Source: ros-groovy-nav-msgs
Section: misc
Priority: extra
Maintainer: "Tully Foote <tfoote@osrfoundation.org>"
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-actionlib-msgs, ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-message-generation, ros-groovy-std-msgs
Homepage: http://ros.org/wiki/nav_msgs
Standards-Version: 3.9.2

Package: ros-groovy-nav-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-actionlib-msgs, ros-groovy-geometry-msgs, ros-groovy-message-runtime, ros-groovy-std-msgs
Description: nav_msgs defines the common messages used to interact with the navigation stack.
